{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<form action="prayerrequest/" method="post" class="form">
<form action="prayer/" method="post" class="form">
<form action="pray/" method="post" class="form">
<form action="prayerrequest/" method="get" class="form">
<form action="prayer/" method="get" class="form">
<form action="pray/" method="get" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  {% endbuttons %}
</form>
